node_modules
npm-debug.log
.DS_Store
*.tgz
*.log
.idea
.vscode
*.sublime-project
*.sublime-workspace
*.swp
*.swo
*.bak
*.tmp
*.temp
*.orig
*.rej
*.patch
*.diff
*.sublime-*
docs*
.github*
.editorconfig
.gitattributes
.markdownlint.json
.prettierrc.js
CODE_OF_CONDUCT.md
